<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Actions</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @actions.each do |action| %>
      <tr>
        <td><%= action %></td>
        <!-- <td><%= @actions %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Show All Raw Data', input_course_path(@course, date_param: @date) %>
